<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%remote.services.category.name"
            id="org.eclipse.ecf.mgmt.rsa.discovery.ui.endpointdiscovery.rsgroup">
      </category>
      <view
            name="%remote.services.discovery.view.name"
            icon="icons/sample.gif"
            category="org.eclipse.ecf.mgmt.rsa.discovery.ui.endpointdiscovery.rsgroup"
            class="org.eclipse.ecf.internal.mgmt.rsa.discovery.ui.EndpointDiscoveryView"
            id="org.eclipse.ecf.mgmt.rsa.discovery.ui.views.EndpointDiscoveryView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="org.eclipse.ecf.mgmt.rsa.discovery.ui.views.EndpointDiscoveryView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
