<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%remote.services.remote.service.view.name"
            icon="platform:/plugin/org.eclipse.ecf.remoteservice.ui/icons/obj16/int_obj.gif"
            category="org.eclipse.ecf.remoteservice.ui.rsgroup"
            class="org.eclipse.ecf.mgmt.framework.eclipse.ui.services.RemoteServicesView"
            id="org.eclipse.ecf.mgmt.framework.eclipse.ui.RemoteServicesView">
      </view>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
              <factory
            adaptableType="org.eclipse.ecf.mgmt.framework.eclipse.ui.services.model.RemoteServiceManagerNode"
            class="org.eclipse.ecf.mgmt.framework.eclipse.ui.services.model.RemoteServiceManagerAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
      
     <factory
            adaptableType="org.eclipse.ecf.remoteservice.ui.serviceview.model.ServiceNode"
            class="org.eclipse.ecf.remoteservice.ui.serviceview.model.ServicesAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
      
           <factory
            adaptableType="org.eclipse.ecf.remoteservice.ui.serviceview.model.BundleIdNode"
            class="org.eclipse.ecf.remoteservice.ui.serviceview.model.ServicesAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
      
      <factory
            adaptableType="org.eclipse.ecf.remoteservice.ui.serviceview.model.RegisteringBundleIdNode"
            class="org.eclipse.ecf.remoteservice.ui.serviceview.model.ServicesAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
      
      <factory
            adaptableType="org.eclipse.ecf.remoteservice.ui.serviceview.model.UsingBundleIdsNode"
            class="org.eclipse.ecf.remoteservice.ui.serviceview.model.ServicesAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
   
   </extension>
   
   <extension
       point="org.eclipse.ui.views">
      <view
            name="%remote.services.remote.bundle.view.name"
            icon="platform:/plugin/org.eclipse.ecf.remoteservice.ui.bundleview/icons/bundle_active.png"
            category="org.eclipse.ecf.remoteservice.ui.rsgroup"
            class="org.eclipse.ecf.mgmt.framework.eclipse.ui.services.RemoteBundlesView"
            id="org.eclipse.ecf.mgmt.framework.eclipse.ui.RemoteBundlesView">
      </view>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
              <factory
            adaptableType="org.eclipse.ecf.mgmt.framework.eclipse.ui.services.model.RemoteBundleManagerNode"
            class="org.eclipse.ecf.mgmt.framework.eclipse.ui.services.model.RemoteBundleManagerAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
      
     <factory
            adaptableType="org.eclipse.ecf.remoteservice.ui.bundleview.model.BundleNode"
            class="org.eclipse.ecf.remoteservice.ui.bundleview.model.BundlesAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
      
      
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ecf.remoteservices.ui.RemoteServicePerspective">
         <view
               id="org.eclipse.ecf.mgmt.framework.eclipse.ui.RemoteBundlesView"
               minimized="false"
               ratio="0.65f"
               relationship="top"
               relative="org.eclipse.ecf.remoteserviceadmin.ui.views.EndpointDiscoveryView">
         </view>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ecf.remoteservices.ui.RemoteServicePerspective">
         <view
               id="org.eclipse.ecf.mgmt.framework.eclipse.ui.RemoteServicesView"
               minimized="false"
               ratio="0.5f"
               relationship="top"
               relative="org.eclipse.ecf.remoteservice.ui.serviceview.ServiceView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
