<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ecf.remoteservice.ui.rsgroup"
            class="org.eclipse.ecf.mgmt.karaf.features.eclipse.ui.view.FeaturesInstallerView"
            icon="platform:/plugin/org.eclipse.ecf.remoteservice.ui/icons/obj16/int_obj.gif"
            id="org.eclipse.ecf.mgmt.karaf.features.eclipse.ui.view.FeaturesInstallerView"
            name="Karaf Features"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.mgmt.karaf.features.eclipse.ui.view.model.FeaturesRootNode"
            class="org.eclipse.ecf.mgmt.karaf.features.eclipse.ui.view.model.FeaturesAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.mgmt.karaf.features.eclipse.ui.view.model.FeaturesNode"
            class="org.eclipse.ecf.mgmt.karaf.features.eclipse.ui.view.model.FeaturesAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
     <factory
            adaptableType="org.eclipse.ecf.mgmt.karaf.features.eclipse.ui.view.model.FeatureNode"
            class="org.eclipse.ecf.mgmt.karaf.features.eclipse.ui.view.model.FeaturesAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
           <factory
            adaptableType="org.eclipse.ecf.mgmt.karaf.features.eclipse.ui.view.model.RepositoryNode"
            class="org.eclipse.ecf.mgmt.karaf.features.eclipse.ui.view.model.FeaturesAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
  </extension>
</plugin>
